<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container">
            <span>TLDL;</span>
            <div class="float-right">
                <a mat-button routerLink="/">Documents</a>
                <button mat-button [matMenuTriggerFor]="appMenu">Help
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #appMenu="matMenu">
                    <a mat-menu-item>Documentation</a>
                    <a mat-menu-item>Contact</a>
                </mat-menu>
                <img class="profile-pic" [src]="profilePicSrc">
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
