.top {
    margin-bottom: 20px;
}

.side-btn {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: left;
}

.date-col {
    max-width: 150px;
}

.owner-col {
    max-width: 150px;
}

.document-name:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
