.card {
    width: 350px;
    text-align: center;
}

.spinner {
    margin: auto;
}

.loader {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
